body.active-login {
    overflow-y: hidden;
}

.btn-login {
    padding: 10px 20px;
    display: block;
    margin: 30px auto 0;
    font-size: 12px;
}
.buttonlogin {
    padding: 8px 47px;
    display: block;
    margin: 15px auto 0;
    font-size: 12px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
 
}

.login, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.login-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    height: 140px;
   
}
.btn-login {
    background-color: blue;
    color: white;
    border: none;

    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }


.login h2 {
    position:absolute;
    left:10px
}


.login label {
    position: absolute;
    left: 10px;
    top:60px;
}



.close-login {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.main {
    position: absolute;
    right: 7px;
    top: 60px;
}
.next-page {
    position: absolute;
    bottom: 5px;
    padding: 5px 7px;
    right: 18px;
}